@charset "UTF-8";
/* SASS VARIABLES */
/* -------- RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  /* (font input phải set inherit, input ko tự động inherit)  */
  font: inherit;
  border: none;
}

button {
  border: none;
  background-color: initial;
  outline: none; /* don't forget indicator for focus state*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BASE STYLES */
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.page {
  color: #1f6e8c;
  display: flex;
  justify-content: center;
  background-image: url("./public/img/pattern.svg"), linear-gradient(to bottom right, #cdc1ff, #927fed 90%);
  scrollbar-width: none;
}

html::-webkit-scrollbar,
.page::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.app {
  width: 124rem;
  height: 103rem;
  background-color: #fff;
  box-shadow: 0 25px 150px rgba(0, 0, 0, 0.45);
  margin: 8rem 0;
  display: grid;
  grid-template-columns: [sidebar-start] 36rem [sidebar-end main-start] 1fr [main-end];
  grid-template-rows: 6.5rem 72.4rem 1fr;
}
@media (max-width: 1300px) {
  .app {
    width: 100%;
    margin: 0;
  }
}

/* HEADER */
.header {
  background-color: #ffd6ec;
  grid-column: sidebar-start/main-end;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.logo {
  width: 6.5rem;
  height: 6.5rem;
}

.search {
  margin-left: 3rem;
}
@media (max-width: 815px) {
  .search {
    display: none;
  }
}
.search__input {
  background-color: #f7b5ca;
  height: 3.4rem;
  width: 40rem;
  border-radius: 100rem;
  font-size: 1.4rem;
  color: #0e2954;
  padding-left: 2rem;
  outline: none;
  transition: all 0.2s ease;
}
.search__input:focus {
  width: 43rem;
}
.search__input::placeholder {
  color: #999;
}
.search__submit {
  font-size: 1.5rem;
  cursor: pointer;
  transform: translateX(-3rem);
}

.nav {
  /* move all to right side */
  margin-left: auto;
}
.nav__list {
  display: flex;
}
.nav__link {
  padding: 0 2rem;
  height: 6.5rem;
  display: inline-block;
}
.nav__link:hover, .nav__link:focus {
  background-color: #f0a8d0;
}
.nav__icon {
  font-size: 2.2rem;
  /* icon sẽ nằm giữa header khi line-height === heigth của header*/
  line-height: 6.5rem;
}

/* ------------ SIDEBAR */
.sidebar {
  background-color: #ffebd4;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 2/-1;
}
@media (max-width: 580px) {
  .sidebar {
    grid-column: 1/-1;
  }
}

.first-heading {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.2;
}
.first-heading span::before {
  content: "GOOD ?";
  text-transform: uppercase;
  font-family: inherit;
  color: #927fed;
  box-shadow: 0 25px 150px rgba(0, 0, 0, 0.45);
  animation: word_switch 3s infinite;
}

@keyframes word_switch {
  0% {
    content: "GOOD ?";
  }
  35% {
    content: "wonderful ?";
  }
  75% {
    content: "fantastic ?";
  }
}
.intro {
  padding: 4.8rem 3.5rem 4.5rem;
  border-bottom: 1px solid rgba(146, 127, 237, 0.8);
}
.intro__text {
  color: #927fed;
  font-size: 1.4rem;
  margin-top: 1.2rem;
  line-height: 1.8;
}

.social {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  justify-content: center;
}
.social__img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #f0a8d0;
}
.social__img:not(:first-child) {
  margin-left: -1rem;
}
.social__container {
  margin-left: 1rem;
}
.social__number {
  font-weight: 500;
}
.social__text {
  font-size: 1.2rem;
  color: #1f6e8c;
  margin-top: -0.5rem;
}

.auth__text {
  text-align: center;
  font-size: 1.2rem;
}
.auth__link {
  color: #927fed;
  font-weight: 500;
}

.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  transition: all 0.6s ease-in-out;
}
.btn::before {
  height: 5rem;
  width: 100%;
  top: -0.7rem;
  left: 0;
  border-left: 2px solid #0e2954;
  border-right: 2px solid #927fed;
}
.btn::after {
  height: 3.5rem;
  width: 108%;
  top: 0;
  left: -4%;
  border-top: 2px solid #0e2954;
  border-bottom: 2px solid #cdc1ff;
  transition-delay: 0.3s;
}
.btn:hover::before {
  transform: rotateY(180deg);
}
.btn:hover::after {
  transform: rotateX(180deg);
}
.btn:hover {
  font-weight: bold;
}

.upload {
  padding: 4.5rem 3.5rem;
  border-bottom: 1px solid #cdc1ff;
  color: #1f6e8c;
}
.upload__container {
  background-color: rgba(255, 255, 255, 0.3);
  height: 33rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
}
.upload__container:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.upload__container::before {
  content: "";
  border: 2px dashed #f0a8d0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}
.upload__icon {
  font-size: 2.3rem;
}
.upload__text {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.upload__alternative {
  font-size: 1rem;
}

.footer {
  padding-top: 5rem;
  padding-left: 3.5rem;
  font-size: 1.1rem;
  color: rgba(31, 110, 140, 0.8);
}
.footer__list {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.copyright {
  font-size: inherit;
}

/* ------------- GALLERY */
.gallery {
  background-color: #f0a8d0;
  grid-column: main-start/main-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 27.2rem 6rem 9rem 6.4rem 3rem 20.8rem;
}
@media (max-width: 1130px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 815px) {
  .gallery {
    grid-row: 2/-1;
    grid-template-rows: 27.2rem 6rem 9rem 6.4rem 3rem 20.8rem 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 580px) {
  .gallery {
    display: none;
  }
}
.gallery__img-wrapper {
  position: relative;
  animation: fade-in 1s backwards;
}
.gallery__img-wrapper:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  animation: fade-in 1s 0.1s backwards;
}
.gallery__img-wrapper:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/4;
  animation: fade-in 1s 0.2s backwards;
}
@media (max-width: 815px) {
  .gallery__img-wrapper:nth-child(2) {
    display: none;
  }
}
.gallery__img-wrapper:nth-child(3) {
  grid-column: 2/3;
  grid-row: 4/-1;
  animation: fade-in 1s 0.3s backwards;
}
@media (max-width: 815px) {
  .gallery__img-wrapper:nth-child(3) {
    display: none;
  }
}
.gallery__img-wrapper:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/6;
  animation: fade-in 1s 0.4s backwards;
}
.gallery__img-wrapper:nth-child(5) {
  grid-column: 1/2;
  grid-row: 6/-1;
  animation: fade-in 1s 0.5s backwards;
}
.gallery__img-wrapper:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/5;
  animation: fade-in 1s 0.6s backwards;
}
@media (max-width: 1130px) {
  .gallery__img-wrapper:nth-child(6) {
    display: none;
  }
}
.gallery__img-wrapper:nth-child(7) {
  grid-column: 3/-1;
  grid-row: 1/2;
  animation: fade-in 1s 0.7s backwards;
}
@media (max-width: 1130px) {
  .gallery__img-wrapper:nth-child(7) {
    display: none;
  }
}
.gallery__img-wrapper:nth-child(8) {
  grid-column: 3/4;
  grid-row: 5/-1;
  animation: fade-in 1s 0.8s backwards;
}
@media (max-width: 1130px) {
  .gallery__img-wrapper:nth-child(8) {
    display: none;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__comment {
  background-color: #fff;
  font-size: 1.2rem;
  color: #927fed;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  position: absolute;
}
.gallery__comment--1 {
  top: 1.5rem;
  right: 1.5rem;
}
.gallery__comment--2 {
  bottom: 1.5rem;
  right: 1.5rem;
}
.gallery__comment--3 {
  top: 1.5rem;
  left: 1.5rem;
}
.gallery__comment--4 {
  bottom: 1.5rem;
  left: 1.5rem;
}
.gallery__icon {
  color: #0e2954;
  font-size: 1.1rem;
}
.gallery__number {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2px;
}

/*----------- STEPS */
.steps {
  background-color: #f7b5ca;
  display: flex;
  align-items: center;
}
@media (max-width: 815px) {
  .steps {
    display: none;
  }
}

.step {
  text-align: center;
  padding: 0 2rem;
}
@media (max-width: 960px) {
  .step:nth-child(3) {
    display: none;
  }
}
.step__icon {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  background-color: #cdc1ff;
  margin-bottom: 1.7rem;
  border-radius: 50%;
  line-height: 5rem;
}
.step__icon--1 {
  color: #1f6e8c;
}
.step__icon--2 {
  color: #ffebd4;
}
.step__icon--3 {
  color: #927fed;
}
.step__text {
  font-size: 1.2rem;
  line-height: 1.8;
}

.second-heading {
  color: #1f6e8c;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
